
.srvcontainer{
    display: flex;
    gap: 45px;
    padding: 30px;
   justify-content: center;
   flex-wrap: wrap;
}
.Service {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    box-shadow: 5px 5px 5px 5px gray ;
}
.Service:hover{
    box-shadow: 6px 6px 6px 6px gray ;
    transform: scale(1.02);
    cursor:context-menu;
    color: rgb(3, 3, 74);
    background-color: rgb(214, 228, 239);
  
}
.srvimgcont {
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   text-align: center;
   /* border: 2px solid; */
 
}
.srvimg{
    height: 85%;
    width: 80%;
}
.srvlist{
  font-weight: 600;
  position: relative;
  right: 15px;
  color: rgb(11, 114, 114);
}