:root{
  --background-color: rgb(217, 235, 238);
}
*{
  font-family: "montserrat", sans-serif;
}
/* Contact Section */
.contactSection{
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactInputContainer{
  padding: 10px 40px;
  margin: 0 10px;
  background-color: var(--background-color);
}
.contactInputContainer .inputs{
  height: 45px;
  width: 100%;
  font-size: 25px;
  padding: 2px 8px;
  outline: none;
  border: 2px solid #373737;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .contactInputContainer .inputs{
    height: 25px;
    font-size: 15px;
  }
}