* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Navbar */
header {
  background-color: #1b262c;
  padding: 25px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #ffd500;
}

/* Hero */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  background-color: #4fa1db;
}
.hero-text {
  flex: 1;
  padding: 20px;
}
.hero-text h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}
.hero-image {
  flex: 1;
  padding: 20px;
}
.hero-image img {
  width: 100%;
  border-radius: 15px;
  transition: transform 0.3s;
}
.hero-image img:hover {
  transform: scale(1.05);
}

/* Buttons */
.btn {
  background-color: #ffd500;
  color: #1b262c;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}
.btn:hover {
  background-color: #e6c200;
  transform: scale(1.05);
  font-family: "Montserrat";
}
.services {
  padding: 50px 0;
  text-align: center;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.service-card {
  background-color: #fff;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  transition: 0.4s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.headings {
  background-color: transparent;
}
.paragraphs {
  background-color: transparent;
}

.service-card:hover {
  transform: scale(1.02);
  background-color: rgb(217, 235, 238);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.service-card img {
  margin-bottom: 15px;
}
.img {
  height: 200px;
  width: 250px;
  border-radius: 10px;
  background-color: transparent;
}
#img3 {
  border-radius: 10px;
  width: 230px;

/*footer*/
footer {background-color: #1b262c;
    color: #fff;
    text-align: center;
    padding: 20px 0;

}

/* responsive */
@media (max-width: 765px) {

.hero {
    flex-direction: column;
    text-align: center;

}
nav ul {
   flex-direction: column;
   margin-top: 10px;
}

nav ul li {
    margin: 10px 0;

}

    .service-cards {
       flex-direction: column;
       align-item:center; 
    }
    
}