
/*footer*/
footer {background-color: #1b262c;
    color: #fff;
    text-align: center;
    padding: 20px 0;

}

/* responsive */
@media (max-width: 765px) {

.hero {
    flex-direction: column;
    text-align: center;

}
nav ul {
   flex-direction: column;
   margin-top: 10px;
}

nav ul li {
    margin: 10px 0;

}

    .service-cards {
       flex-direction: column;
       align-item:center; 
    }
    
}