* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navbar */
header {
    background-color: #1b262c;
    padding: 25px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #ffd500;
}

/* Hero */
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    background-color:#4fa1db;
}
.hero-text {
    flex: 1;
    padding: 20px;
}
.hero-text h2 {
    font-size: 40px;
    margin-bottom: 15px;
}
.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-image {
    flex: 1;
    padding: 20px;
}
.hero-image img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s;
}
.hero-image img:hover {
    transform: scale(1.05);
}

/* Buttons */
.btn {
    background-color: #ffd500;
    color: #1b262c;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.btn:hover {
    background-color: #e6c200;
    transform: scale(1.05);
}
