*{
  font-family: "montserrat", sans-serif;
}
/* Contact Section */
.contactSection{
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactInputContainer{
  padding: 0 30px;

}
.contactInputContainer .inputs{
  height: 45px;
  width: 100%;
}